body {
    color: rgb(255, 255, 255);
    max-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.507);
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
}

.appContainer {
    margin-top: 4vh;
    height: 96vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.appBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hot {
    position: sticky;
    width: 4vmax;
    height: 5vmax;
    background-size: cover;
    z-index: 2567234643;
    margin-top: -3vmax;
}

.imgScr {
    width: 9vmax;
    height: 9vmax;
    border-radius: 50%;
    border-style: groove;
    border-width: thin;
    padding: 25px;
    border-bottom: transparent;
    box-shadow: 0 0 10px black;
    transition: 2s;
    background-color: white;
}

.imgScr:hover {
    border: transparent;
    padding: 14px;
    width: 13vmax;
    height: 13vmax;
    background-color: rgba(251, 255, 0, 0.233);
    animation: none;
    transition: 3s;
    animation: blinker 2s linear infinite;
}

.imgScr:active {
    background-color: rgba(255, 0, 0, 0.418);
}

.name {
    color: rgb(216, 22, 60);
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    text-align: center;
}

.introMenu {
    display: flex;

    justify-content: space-between;

    width: 90vw;
    border-bottom: 2px solid white;
}

.extLinks {
    display: flex;
    align-items: flex-end;
}

.linkedIn {
    margin: 0 0 1vmax 0;
    width: 3vmax;
    height: 3vmax;
    background-size: cover;
    background-color: white;
    filter: invert(100%);
}

.gitHub {
    margin: 0 1vmax 1vmax 1vmax;
    width: 3vmax;
    height: 3vmax;
    background-size: cover;
}

.introText {
    font-size: 4vmax;
    font-family: "Bangers", cursive;
    margin-top: 1vmax;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.226);
}

.introTitles {
    margin: 2vmax 0 0 0;
    color: black;
    font-weight: 700;
    font-size: 2vmax;
    width: 48vmax;
    height: 5vmax;
    padding: 1vmax;
    background-color: rgb(255, 255, 255);
    border-radius: 1vh;
    text-align: center;
}

.intro {
    font-family: "Poller One", cursive;
    margin-top: 1vmax;
    font-size: 2vmax;
    padding: 1vmax;
    text-align: center;
}

.projectBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95vw;
    border: 2px solid black;
    border-radius: 5vh;
    min-height: 19vmax;
    flex-wrap: wrap;
    padding: 1vmax 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.projectBoxBack {
    background-color: rgb(255, 255, 255);
    border-radius: 5vh;
}

.projectBack {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 5vh;
    width: 18vw;
    margin: 0 2vmax;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: transparent;
    border-radius: 50%;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    font-family: "Bangers", cursive;
    text-decoration: none;
    color: black;
    font-size: 3vmax;
    cursor: pointer;
    height: 20vmax;
}

.project:hover {
    border-color: black;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.349);
    transition: 0.5s;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 55.5vh;
    font-size: 2vmax;
    color: white;
    text-align: center;
    border-radius: 5vh;
    background-color: black;
    margin: 1vmax 0;
}

.projectText {
    width: 50vw;
    height: 45vh;
    cursor: pointer;
    text-align: justify;
    font-family: "Darker Grotesque", sans-serif;
}

.descLinks {
    align-self: flex-end;
    margin-bottom: -2vmax;
}

.git {
    padding: 0 2vmax 0 1.5vmax;
}

.git img {
    width: 2vmax;
    height: 2vmax;
    background-size: cover;
}

.linkPreview img {
    width: 3vmax;
    height: 2vmax;
    background-color: white;
    filter: invert(100%);
}

#one,
#two,
#three,
#four,
#five,
#six {
    animation: blinker 2s linear infinite;
}

#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover,
#six:hover {
    animation: none;
}

@keyframes blinker {
    50% {
        padding: 28px;
        width: 11vmax;
        height: 11vmax;
        background-color: rgba(51, 255, 0, 0.281);
    }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 480px) and (orientation: portrait) {
    .appContainer {
        width: 80vw !important;
    }
    .imgScr {
        padding: 2vw !important;
    }

    .introMenu {
        width: 80vw !important;
    }

    .introTitles {
        width: 70vw !important;
        height: 7.5vh !important;
    }

    .description {
        flex-direction: column !important;
    }

    .projectPreview {
        width: 80vw !important;
        margin-left: 0vmax !important;
    }

    .name {
        margin-bottom: 1vmax !important;
    }

    .projectBox {
        align-items: center;
        justify-content: center;
        height: unset;
        height: 60vh !important;
        overflow-y: scroll;
        width: 90vw !important;
        margin-top: 2vmax !important;
    }

    .project {
        margin: 2vmax !important;
        width: 35vw !important;
    }

    .hot {
        width: 6vmax !important;
        height: 8vmax !important;
    }

    .extLinks {
        margin-bottom: -1vmax;
        align-items: center;
        justify-content: center;
    }

    .projectText {
        font-size: 2vmax !important;
        z-index: 234562345234 !important;
    }

    .projectBack {
        height: 25vmax !important;
        width: unset !important;
        margin: 0 !important;
    }
}

@media only screen and (min-device-width: 273px) and (max-device-width: 1024px) and (orientation: landscape) {
    .projectBox {
        min-height: 40vh;
    }

    .projectPreview {
        height: 60vh;
    }

    .projectText {
        font-size: 2.2vmax !important;
    }

    .imgScr {
        padding: 2vmax !important;
    }

    .name {
        margin-bottom: 0.5vmax !important;
    }
}
